* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  color: unset;
}

html,
body {
  display: block;
  height: 100%;
  font-family: "Roboto", sans-serif;
  color: #f5f5f5;
}

:root {
  --white: #ffffff;
  --grey: #414141;
  --red: #d62d20;
  --amarillo: #ffa700;
  --blue: #3367d6;
  --orange: #e34c26;
  --green: #008744;
  --blueReact: #61DBFB;
}

#root {
  height: 100%;
}

.wrapper {
  /* border: 1px solid orange; */
  height: 100%;
  width: 80%;
}

.test::before {
  content: "\f0c9";
}

.test {
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
}

/* .App {
  background-image: url("bg_responsive.webp");
  background-attachment: fixed;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: -1;
} */
