* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  color: unset;
}

html,
body {
  display: block;
  height: 100%;
  font-family: "Roboto", sans-serif;
  color: #f5f5f5;
}

:root {
  --white: #ffffff;
  --grey: #414141;
  --red: #d62d20;
  --amarillo: #ffa700;
  --blue: #3367d6;
  --orange: #e34c26;
  --green: #008744;
  --blueReact: #61DBFB;
}

#root {
  height: 100%;
}
